<div [formGroup]="parentForm">
  <label class="form-label">{{label}}</label>
  <input
    type="number"
    class="form-control"
    placeholder="Enter quantity"
    formControlName="{{controlName}}"
    [class.is-invalid]="fh.isInvalid(control)"
  >
  <div class="invalid-feedback">
    <span *ngIf="fh.hasError(control, 'required')">Quantity is required</span>
    <span *ngIf="fh.hasError(control, 'min')">Quantity must be greater than 0</span>
    <span *ngIf="fh.hasError(control, 'max')">Quantity must be less than 1_000_000</span>
  </div>
</div>



