<div [formGroup]="parentForm">
  <label class="form-label">{{label}}</label>
  <input
    type="password"
    class="form-control"
    placeholder="Enter your password"
    formControlName="{{controlName}}"
    [class.is-invalid]="fh.isInvalid(control)"
  >
  <div class="invalid-feedback">
    <span *ngIf="fh.hasError(control, 'required')">Password is required</span>
    <span *ngIf="fh.hasError(control, 'minlength')">Password minimum length is 4 signs</span>
    <span *ngIf="fh.hasError(control, 'maxlength')">Password maximum length is 32 signs</span>
  </div>
</div>
