<app-main-template>
  <div class="row justify-content-center">
    <div class="col-8 main-block">
      <div class="main-block mt-2" *ngFor="let order of orders">
        <div class="d-flex mb-2">
          <div class="flex-grow-1">
            Order date: <strong>{{order.orderTime | date:'yyyy-MM-dd HH:mm' : '+0300'}}</strong>
          </div>
          <div class="me-3">
            Total price: <strong>{{order.totalPrice | currency}}</strong>
          </div>
          <a class="me-3" (click)="setTransited(order.id)" *ngIf="status == 'Transiting'">
            <i class="fa-solid fa-truck-ramp-box link-danger fa-lg"></i>
          </a>
        </div>
        <app-item
          *ngFor="let orderItem of order.orderItems"
          [item]="getItem(orderItem.itemId, orderItem.quantity, orderItem.price)"
          [isCartItem]="true">
        </app-item>
      </div>
      <div class="mt-3">
        <app-pagination
          [pagination]="pagination"
          [nextDisabled]="nextDisabled"
          (previous)="previous()"
          (next)="next()">
        </app-pagination>
      </div>
    </div>
  </div>

</app-main-template>
