<footer class="bg-light pt-2 pb-2">
  <div class="text-center">
    <div class="contacts">
      <a class="me-2 link-underline link-underline-opacity-0"
         href="mailto:nikita.stepanov556789@gmail.com">
        <i class="fa-solid fa-envelope fa-xl"></i>
      </a>
      <a class="me-2 link-underline link-underline-opacity-0"
         href="https://t.me/n_stepanov04">
        <i class="fa-brands fa-telegram fa-xl"></i>
      </a>
      <a class="me-2 link-underline link-underline-opacity-0"
         href="https://linkedin.com/in/nikita-stepanov-883056290/">
        <i class="fa-brands fa-linkedin fa-xl"></i>
      </a>
      <a class="me-2 link-underline link-underline-opacity-0"
         href="https://github.com/nikita-stepanov04">
        <i class="fa-brands fa-github fa-xl"></i>
      </a>
    </div>
  </div>
</footer>
