<app-main-template>
  <div class="row justify-content-center mt-5">
    <div class="col-6 main-block border shadow-lg">
      <form class="form" [formGroup]="restockForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <app-id
            label="Id"
            controlName="id"
            [parentForm]="restockForm">
          </app-id>
        </div>

        <div class="mb-3">
          <app-item-quantity
            label="Add quantity"
            controlName="addQuantity"
            [parentForm]="restockForm">
          </app-item-quantity>
        </div>

        <div class="d-grid mt-4 mb-2">
          <button class="btn btn-primary" [disabled]="restockForm.invalid">Restock</button>
        </div>

      </form>
    </div>
  </div>
</app-main-template>
